<!DOCTYPE html>
<html>
  <head>
    <title>DAS service</title>
    <!-- Hoja de estilo -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
    <!-- Script -->
    <script src="javascripts/app.js" defer></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scroll -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>

    <div class="header">
      <p class="headerText"><i class="far fa-clock"></i> Lun a Vie 08:00 a 18:00 </p>|<p class="headerText"> <i class="fas fa-map-marker-alt"></i> CABA - GBA</P>
    </div>

      <div class="mainImgContainer">
        <img  class="mainImg" src="images/mainImg.jpg" alt="">
          <div class="imgTextContainer">
            <img  class="dasLogo" src="images/das.png" alt="" data-aos="fade-right">
          </div>
          <div class="hablemosContainerContainer">
            <div class="hablemosContainer" data-aos="fade-left">
              <h4 class="imgText">Hola! Hablemos por aca! </h4>
                <div class="btnWp">
                  <a href="https://wa.me/91155975580"  target="_blank"><i class="fab fa-whatsapp blanco"></i></a>
                </div>
            </div>
          </div>
      </div>

    <div class="brandsContainer">
      <div data-aos="fade-up" >
      <p class="brandTitle">Trabajamos todas las marcas</p >
      </div>
      <div class="brands" data-aos="fade-up">
        <img class="brandLogo" src="images/logo01.png" alt="">
        <img class="brandLogo" src="images/logo02.png" alt="">
        <img class="brandLogo" src="images/logo03.png" alt="">
        <img class="brandLogo" src="images/logo04.png" alt="">
        <img class="brandLogo" src="images/logo05.png" alt="">
        <img class="brandLogo" src="images/logo06.png" alt="">
        <img class="brandLogo" src="images/logo07.png" alt="">
        <img class="brandLogo" src="images/logo08.png" alt="">
        <img class="brandLogo" src="images/logo09.png" alt="">
        <img class="brandLogo" src="images/logo01.png" alt="">
        <img class="brandLogo" src="images/logo11.png" alt="">
        <img class="brandLogo" src="images/logo12.png" alt="">
      </div>
    </div>

    <div class="stBoxContainer" data-aos="zoom-in">
      <p class="text1">SERVICIO TECNICO A DOMICILIO</p>
      <div class="whiteStripe"></div>
      <p class="text2">Hablanos al Whatsapp para coordinar una visita</p>
      <div class="btnWp2"><a href="https://wa.me/91155975580" class="blanco" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
    </div>

    <div class="specContainer" data-aos="fade-up">

      <div class="specBox">
        <i class="fas fa-map-marked-alt spec"></i>
        <p class="specText">CAPITAL FEDERAL</p>
        <p class="specText">GRAN BUENOS AIRES</p>
      </div>

      <div class="specBox">
        <i class="fas fa-user-shield spec"></i>
        <p class="specText">GARANTIA</p>
        <p class="specText">ESCRITA</p>
      </div>

      <div class="specBox">
        <i class="fas fa-thumbs-up spec"></i>
        <p class="specText">5 ESTRELLAS</p>
        <p class="specText">EN GOOGLE</p>
      </div>

      <div class="specBox">
        <i class="fas fa-check-circle spec"></i>
        <p class="specText">REPUESTOS</p>
        <p class="specText">ORIGINALES</p>
      </div>

    </div>

    <div class="auContainer">
      <div class="auBox" data-aos="fade-right">
        <p class="textau1">SOBRE NOSOTROS</p>
        <div class="whiteStripe"></div>
        <p class="textau2">Creemos en la transparencia y la honestidad en todo lo que hacemos. Siempre le proporcionaremos una cotización precisa y detallada antes de comenzar cualquier trabajo, para que sepa exactamente lo que está pagando.</p>
      </div>

      <div class="auBox2" data-aos="fade-left">
        <img class="auImg" src="images/auImg.jpg" alt="" >
          <ul class="auOl">
            <li>LAVARROPAS</li>
            <li>SECARROPAS</li>
            <li>LAVAVAJILLAS</li>
            <li>HORNOS ELECTRICOS</li>
            <li>HORNOS A GAS</li>
            <li>HELADERAS</li>
            <li>CAVAS</li>
            <li>MICROONDAS</li>
            <li>TELEVISORES</li>
          </ul>
      </div>
    </div>

    <div class="resenaContainer">
      <div class="resenaBox" data-aos="fade-right">
        <img src="images/resenaImg.jpg" alt="">
      </div>

      <div class="resenaBox2" data-aos="fade-left">
          <p class="textResena1">NUESTRAS RESEÑAS EN GOOGLE HABLAN POR SI SOLAS</p>
          <div class="whiteStripe"></div>
          <div class="resenaStarBox">
            <img class="resena" src="images/resena.jpg" alt="">
          </div>
          <p class="textResena2">Podes entrar a leer cada recomendacion de nuestros clientes haciendo click <a href="https://www.google.com/search?q=das+service&rlz=1C1ONGR_esAR1018AR1018&oq=das+serv&aqs=chrome.0.69i59j69i57j0i512l3j69i60j69i61j69i60.3688j0j7&sourceid=chrome&ie=UTF-8#lrd=0x95bcc766b9f783ff:0x457020ee6cbcda12,1,,,,">aqui</a></p>
      </div>

    </div>

    <div class="footer">
      <div class="footerBox">
        <img class="logoFooter" src="images/dasWhite.png" alt="">
        <div class="socialNetworks">
          <a href="https://www.instagram.com/das.service/" target="_blank"><i class="fab fa-instagram SN"></i></a>
          <a href="https://www.facebook.com/das.service.lineablanca/" target="_blank"><i class="fab fa-facebook SN"></i></a>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>


</html>
